<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-gray-200">
    <header
      class="w-screen bg-blue-700 flex justify-between font-mono items-center"
    >
      <%- include('../partials/header'); %>
    </header>
    <main class="flex flex-col sm:flex-row justify-center items-center w-full  font-mono ">
      <% for(var i = 0; i < messagesList.length; i++) { %>
        <div class="bg-white border shadow p-5 rounded m-5 md:w-2/5 w-3/4 ">
          <div class="flex justify-between">
            <% if (currentUser.membershipStatus === true) { %>
              <h3 class="font-bold">Message by: <span class="font-normal"><%= messagesList[i].author.username %></span></h3>
              <h3 class="font-bold">Time: <span class="font-normal"><%= messagesList[i].time %></span></h3>
            <% } else { %>
              <h3 class="text-black">Message by: anonymous %></h3>
              <h3>Time: hidden %></h3>
            <% } %>
          </div>
          <div class="mt-5">
            <p><%= messagesList[i].text %></p>
          </div>

        </div>
      <% } %>
      <div>
        <h1></h1>
      </div>
    </main>
    <% if (currentUser) {%>
      <h1>WELCOME BACK <%= currentUser.username  %></h1>
      <a href="/log-out">LOG OUT</a>
    <% } else { %>
      <h1>please log in</h1>
    <%}%>

  </body>
</html>
