<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-gray-200">
    <header
      class="w-screen bg-blue-700 flex justify-between font-mono items-center"
    >
      <%- include('../partials/header'); %>
    </header>
    <main class="flex flex-col sm:flex-row justify-center items-center w-full  font-mono ">
      <div></div>
      <% for(var i = 0; i < messagesList.length; i++) { %>
        <div class="bg-white border shadow p-5 rounded m-5 md:w-2/5 w-3/4 ">
          <div class="flex justify-between">
            <% if (user) { %>
             <% if (user.membershipStatus === true) { %>
                <h3 class="font-bold">Message by: <span class="font-normal"><%= messagesList[i].author.username %></span></h3>
                <h3 class="font-bold">Time: <span class="font-normal"><%= messagesList[i].time %></span></h3>
             <% } else { %>
              <h3 class="text-black">Message by: anonymous </h3>
              <h3>Time: hidden </h3>
             <% } %>
           <% } else { %>
              <h3 class="text-black">Message by: anonymous </h3>
              <h3>Time: hidden </h3>
             <% } %>
          </div>
          <div class="mt-5">
            <p><%= messagesList[i].text %></p>
          </div>
          <% if (user.admin == true) {%>
            <form method="POST" action="/delete">
              <input type="hidden" name="id" required="true" value="<%= messagesList[i]._id %>"  >
              <div class="flex justify-end align-center">
                <button type="submit" class="bg-red-500 p-2 rounded-full hover:bg-red-700 "><span class="iconify" data-icon="bi:trash-fill" data-inline="false"></span></button>
              </div>
            </form>
           <% } %>
        </div>
      <% } %>

    </main>
    <% if (currentUser) { %>
        <footer class="bg-blue-400 border-t-3 flex justify-center items-center absolute bottom-0 w-full h-16">
          <a href="/admin" class="text-white text-xl hover:text-blue-900">Become admin - click here!</a>
        </footer>
       <% } %>


  </body>
</html>
